<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/clock.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
@*sets the clockupdate function to be called every second*@
<body onload="clockUpdate(); setInterval('clockUpdate()', 1000 )">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nexco Finance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="pull-right">
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Support", "Index", "Support")</li>
                    <li>@Html.ActionLink("Finances", "Index", "Finance")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>
                        @if (Session["UserID"] == null)
                        {
                            @Html.ActionLink("Register", "Register", "Account")

                        }
                    </li>
                    <li>
                        @if (Session["Admin"] != null)
                        {
                            @Html.ActionLink("Admin", "Index", "AdminUsers")
                        }
                    </li>
                    <li>
                        @if (Session["UserID"] != null)
                        {
                            @Html.ActionLink("Welcome, " + Session["UserID"], "Index", "Manage")
                        }
                    </li>
                    <li>
                        @if (Session["UserID"] != null)
                        {
                            @Html.ActionLink("Log out", "Logoff", "Account")
                        }
                        else
                        {
                            @Html.ActionLink("Log In", "Index", "Account")
                        }
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>
                @*displays copyright information and displays clock by setting id of span to clock*@
                <p>&copy; @DateTime.Now.Year - Nexco Finance Solutions <span class="pull-right" id="clock">&nbsp;</span></p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>