
@{
    Layout = null;
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/clock.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
@*sets the clockupdate function to be called every second*@
<body onload="clockUpdate(); setInterval('clockUpdate()', 1000 )">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nexco Finance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="pull-right">
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    <li>@Html.ActionLink("Support", "Index", "Support")</li>
                    <li>@Html.ActionLink("Finances", "Index", "Finance")</li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>
                        @if (Session["UserID"] == null)
                        {
                            @Html.ActionLink("Register", "Register", "Account")

                        }
                    </li>
                    <li>
                        @if (Session["Admin"] != null)
                        {
                            @Html.ActionLink("Admin", "Index", "AdminUsers")
                        }
                    </li>
                    <li>
                        @if (Session["UserID"] != null)
                        {
                            @Html.ActionLink("Welcome, " + Session["UserID"], "Index", "Manage")
                        }
                    </li>
                    <li>
                        @if (Session["UserID"] != null)
                        {
                            @Html.ActionLink("Log out", "Logoff", "Account")
                        }
                        else
                        {
                            @Html.ActionLink("Log In", "Index", "Account")
                        }
                    </li>
                    </link>
                </ul>
            </div>
        </div>
    </div>

    <div id="container" style="width: 550px; height: 400px; margin: 0 auto">
        @*javascript containing high charts api*@
        <script language="JavaScript">

            $(document).ready(function () {
                var chart = {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                };
                var title = {
                    text: 'Overview of monthly finances'
                };
                var tooltip = {
                    pointFormat: '<b>{point.name}</b>: <b>£{point.y:.1f}</b>'
                };
                var plotOptions = {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                            format: '<b>{point.name}</b>: £{point.y:.1f}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                };
                //sets the values of the chart to those determined in the dashboard controller
                var series = [{
                    type: 'pie',
                    name: 'Income/Expenditure',
                    data: [
                        ['Entertainment', @ViewBag.entertainmentTotal],
                        ['Education', @ViewBag.educationTotal],
                        ['Food', @ViewBag.foodTotal],
                        ['Health', @ViewBag.healthTotal],
                        ['Utility', @ViewBag.utilityTotal],
                        ['Bonus', @ViewBag.bonusTotal],
                        ['Liquidatuion', @ViewBag.liquidationTotal],
                        ['Refund', @ViewBag.refundTotal],
                        ['Overtime', @ViewBag.overtimeTotal],
                        {
                            name: 'Remaining funds',
                            y: @ViewBag.remainingSalary,
                            sliced: true,
                            selected: true
                        }
                    ]
                }];

                var json = {};
                json.chart = chart;
                json.title = title;
                json.tooltip = tooltip;
                json.series = series;
                json.plotOptions = plotOptions;
                $('#container').highcharts(json);
            });
        </script>

    </div>

    <div class="container body-content">
        <hr />
        <footer>
            @*displays copyright information and displays clock by setting id of span to clock*@
            <p>&copy; @DateTime.Now.Year - Nexco Finance Solutions<span class="pull-right" id="clock">&nbsp;</span></p>
        </footer>
    </div>
</body>
</html>